/* FEITO POR MATHEUS SLAMA RIBAS 
CIENCIA DA COMPUTACAO UFFS */



/* PARTE DO CARRINHO */

.totalPagar{

        background-color: lightgrey;
        margin-left: 10px;
        margin-bottom: 30px;

        width: 200px;
        height: 20px;
        text-align: center;        

  }

  .tabela th,tr,td{
    /* border: 2px solid lightgrey; */
    text-align: center;
    width: 30%;

  }
  .tabela th{
    background-color: hotpink;
  }

  tr:hover{
    background-color:lightgrey;
  }

  

  #nume, #nume1, #nume2{
    width: 20%;
    text-align: center;
  }

  .xis{
    color: red;
    
  }

  .botoes{
    display: inline-flex;
  }
  .BT{
    background-color: rgb(148, 161, 173);
    margin-bottom: 2%;
    margin-right: 10%;
    block-size: 40px;
    border-radius: 25px;
    
  }

  .BT:hover{
    background-color:lightseagreen;
  }

  #tot_total{
    display: inline;
  }
  #resultado_total{
    display: inline;
    font-size: 120%;
    color: limegreen;
    font-weight: bolder;
    
  }
/********************************************************************************* queries **/
@media only screen and (min-width: 600px) {
    /* para tablets: */
      .col-1 {width: 30%;}
      .col-2 {width: 70%;}
      .col-3 {width: 100%;} 
  
      /* para layout flexbox, substituir as 3 linhas acima pelas 6 abaixo */
      /*.col-1 {flex: 30%;}
      .col-2 {flex: 70%;}
      .col-3 {flex: 100%;}
      .container{
        flex-direction: row;
      }*/      
  
      footer {
        flex-direction: row;
      }      
  }
  
  @media only screen and (min-width: 1000px) {
      /* para desktop: */
      .col-1 {width: 20%;}
      .col-2 {width: 60%;}
      .col-3 {width: 20%;}
  
      /* para layout flexbox, substituir as 3 linhas acima pelas 3 abaixo */
     /* .col-1 {flex: 20%;}
      .col-2 {flex: 60%;}
      .col-3 {flex: 20%;}*/
      
      #exibe-menu{
        display: none;
      }
  
      .menu-opcoes {
          position: absolute;
          bottom: 0;
          right: 10px;
          display: initial;
  
          /* para layout flexbox, substituir as 3 linhas acima pela abaixo */
          /*align-self: flex-end;*/
      }   
          
      .menu-opcoes ul li{
          display: inline; /* menu superior se torna horizontal */
      }   
  
      #ajuda{
        display: initial;
      }
  }  