
#menu ul a li {
  padding: 10px 70px;
  display: inline-block;
  /* visual do link */
  background-color:lightgray;
  color: #333;
  text-decoration: none;
  
  /* border-bottom:3px solid darkgray; */
  
}

#menu ul li a { display: inline; }


/* quando bota o mouse em cima */
#menu ul a li:hover {
  background-color:lightgray;
  /* color: brown; */
  border-bottom:3px solid #EA0000;
}



#contatos form,div,fieldset{

  margin-top: 10px;

}
#contatos h3 {
  color: lightseagreen;
 }

 #contatos div h2{
   text-align:center;
 }

 #mens div input{
  
  height: 150px;
  width: 480px;

}

#mens fieldset{
  size: 500px;

}

#foot div a img{

  padding-top: 100px;
  padding-right: 20px; 
  width: 30px;
}